html {
  --md-filled-button-label-text-font: "Pixelify Sans", sans-serif;
  --md-sys-color-primary: rgb(203 190 255);
  --md-sys-color-surface-tint: rgb(203 190 255);
  --md-sys-color-on-primary: rgb(51 0 153);
  --md-sys-color-primary-container: rgb(64 0 187);
  --md-sys-color-on-primary-container: rgb(213 202 255);
  --md-sys-color-secondary: rgb(203 190 255);
  --md-sys-color-on-secondary: rgb(50 37 104);
  --md-sys-color-secondary-container: rgb(66 53 121);
  --md-sys-color-on-secondary-container: rgb(217 206 255);
  --md-sys-color-tertiary: rgb(255 171 242);
  --md-sys-color-on-tertiary: rgb(92 0 90);
  --md-sys-color-tertiary-container: rgb(114 0 112);
  --md-sys-color-on-tertiary-container: rgb(255 189 242);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(20 18 27);
  --md-sys-color-on-background: rgb(230 224 238);
  --md-sys-color-surface: rgb(20 18 27);
  --md-sys-color-on-surface: rgb(230 224 238);
  --md-sys-color-surface-variant: rgb(72 69 85);
  --md-sys-color-on-surface-variant: rgb(202 195 215);
  --md-sys-color-outline: rgb(147 142 161);
  --md-sys-color-outline-variant: rgb(72 69 85);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(230 224 238);
  --md-sys-color-inverse-on-surface: rgb(49 47 57);
  --md-sys-color-inverse-primary: rgb(98 61 223);
  --md-sys-color-primary-fixed: rgb(230 222 255);
  --md-sys-color-on-primary-fixed: rgb(29 0 97);
  --md-sys-color-primary-fixed-dim: rgb(203 190 255);
  --md-sys-color-on-primary-fixed-variant: rgb(74 24 199);
  --md-sys-color-secondary-fixed: rgb(230 222 255);
  --md-sys-color-on-secondary-fixed: rgb(29 11 83);
  --md-sys-color-secondary-fixed-dim: rgb(203 190 255);
  --md-sys-color-on-secondary-fixed-variant: rgb(73 60 128);
  --md-sys-color-tertiary-fixed: rgb(255 215 244);
  --md-sys-color-on-tertiary-fixed: rgb(56 0 55);
  --md-sys-color-tertiary-fixed-dim: rgb(255 171 242);
  --md-sys-color-on-tertiary-fixed-variant: rgb(129 2 127);
  --md-sys-color-surface-dim: rgb(20 18 27);
  --md-sys-color-surface-bright: rgb(58 56 66);
  --md-sys-color-surface-container-lowest: rgb(15 13 22);
  --md-sys-color-surface-container-low: rgb(28 26 36);
  --md-sys-color-surface-container: rgb(32 30 40);
  --md-sys-color-surface-container-high: rgb(43 41 50);
  --md-sys-color-surface-container-highest: rgb(54 51 61);
}
