@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
body {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

body {
    margin: 0;
    padding: 0;
    background-image: url('imgs/back-ground.gif');
    /* Caminho para o seu GIF */
    background-size: cover;
    /* Faz a imagem cobrir toda a tela */
    background-repeat: repeat;
    /* Impede a repetição da imagem */
    background-attachment: fixed;
    /* Faz com que o fundo permaneça fixo durante o rolar da página */
}

.card {
    background: linear-gradient(135deg, #ffffff1a, #00000080);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    color: aliceblue;
    display: flex; /* O display flex permite deixar as coisas centralizadas */
    align-items: center;
    transition: transform ease 200ms;
}
.card:hover {
    transform: scale(1.07);
    transition: transform ease 200ms;
}


.modal-dialog {  
    --bs-modal-bg: #2a2a2a6b !important;
    backdrop-filter: blur(10px);
    color: #dddddd;
}


.card img {
    padding: 10px;
    border-radius: 20px;
}
.col-6 {margin-top: 20px;} /* a altura bugava quando diminuia o tamanho da tela, isso melhora um pouco */

.card-img-top {
    width: 100%;
    /* Faz com que a imagem ocupe toda a largura do card */
    height: 250px;
    /* Define uma altura fixa para a imagem */
    object-fit: cover;
    /* Garante que a imagem preencha a área sem distorção */
}

.card-text {
    text-align: justify;
}
