/* Estilo geral do body */
body {
  font-family: "Raleway", sans-serif;
  background-image: radial-gradient(circle at center, #899Dc4, #495D84);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0; /* Remove a margem padrão */
  padding: 0; /* Remove o padding padrão */
  display: flex;
  flex-direction: column; /* Organiza o layout em coluna */
  justify-content: center;
  align-items: center;
  background: radial-gradient(ellipse at bottom, #1b2735, #090a0f);
  font-weight: 300;
  overflow-x: hidden; /* Evita rolagem horizontal */
  box-sizing: border-box; /* Inclui padding e borda nas dimensões dos elementos */
}

/* Estilo dos elementos com perspectiva 3D */
.all {
  display: flex;
  perspective: 10px;
  transform: perspective(300px) rotateX(20deg);
  will-change: perspective;
  perspective-origin: center center;
  transition: all 0.5s ease-in;
  justify-content: center;
  transform-style: preserve-3d;
  margin: 0; /* Remove a margem para evitar deslocamento */
  padding: 0; /* Remove o padding para evitar deslocamento */
}

/* Mantém a transformação 3D */
.all:hover {
  perspective: 1000px;
  transition: all 1.3s ease-in;
  transform: perspective(10000px) rotateX(0deg);
}

.all:hover .text {
  opacity: 1;
}

.all:hover > div {
  opacity: 1;
  transition-delay: 0s;
}

.all:hover .explainer {
  opacity: 0;
}

.left, .center, .right, .lefter, .righter {
  width: 200px;
  height: 150px;
  transform-style: preserve-3d;
  border-radius: 10px;
  border: 1px solid #fff;
  box-shadow: 0 0 20px 5px rgba(100, 100, 255, 0.4);
  opacity: 0;
  transition: all 0.3s ease;
  transition-delay: 1s;
  position: relative;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #58d;
  cursor: pointer;
  background-blend-mode: color-burn;
}

.left:hover, .center:hover, .right:hover, .lefter:hover, .righter:hover {
  box-shadow: 0 0 30px 10px rgba(100, 100, 255, 0.6);
  background-color: #ccf;
}

.text {
  transform: translateY(30px);
  opacity: 0;
  transition: all 0.3s ease;
  bottom: 0;
  left: 5px;
  position: absolute;
  will-change: transform;
  color: #fff;
  text-shadow: 0 0 5px rgba(100, 100, 255, 0.6);
}

.lefter {
  transform: translateX(-60px) translateZ(-50px) rotateY(-10deg);
  background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/organization-512.png);
}

.left {
  transform: translateX(-30px) translateZ(-25px) rotateY(-5deg);
  background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/creative_draw-512.png);
}

.center {
  opacity: 1;
  background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/app_window-512.png);
}

.right {
  transform: translateX(30px) translateZ(-25px) rotateY(5deg);
  background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/cloud_weather-512.png);
}

.righter {
  transform: translateX(60px) translateZ(-50px) rotateY(10deg);
  background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/search-512.png);
}

.explainer {
  font-weight: 300;
  font-size: 2rem;
  color: #fff;
  transition: all 0.6s ease;
  width: 100%;
  height: 100%;
  background-color: #303050;
  background-image: radial-gradient(circle at center top, #cce, #33a);
  border-radius: 10px;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Estilo do rodapé */
footer {
  background-color: #303050;
  color: #cce;
  padding: 5px 0;
  position: fixed; /* Fixa o rodapé na parte inferior */
  width: 100%;
  bottom: 0;
  text-align: center;
  font-size: 14px;
  border-top: 1px solid #474E58;
  z-index: 1000;
}

/* Estilo do link no rodapé */
footer a {
  color: #cce;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
  color: #f0f0f0; /* Branco suave para hover */
}

footer .footer-section {
  margin-bottom: 10px;
}

/* Estilo do tooltip */
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 250px;
  background-color: #333;
  color: #fff;
  text-align: left;
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -125px;
  opacity: 0;
  transition: opacity 0.3s;
  white-space: pre-line;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
